@use 'variables' as v;
@use 'typography' as *;

a {
	cursor: pointer;
}

.grid-intro {
	position: relative;
	display: grid;
	line-height: 1;
	height: 100dvh;
	width: 100dvw;
	grid-template-columns: 10% 1fr 1fr 10%;
	grid-template-rows: auto 1fr 1fr auto;
	grid-row-gap: 5dvh;
	align-items: center;
	grid-column-gap: 4dvw;
	will-change: transform;
}

.intro__back {
	display: flex;
	align-items: center;
	height: 40px;
	grid-column: 2 / 4;
	grid-row: 1;
	flex-wrap: wrap;
	@include link-16;
}

.intro__back a {
	@include link-16;
	transition: all v.$transition;
}


@media (min-width: 1200px) {
	.intro__back a {
		@include link-20;
	}
}

@media (min-width: 1600px) {
	.intro__back a {
		@include link-24;
	}
}

.intro__back a:hover {
	padding: 0 8px;
	color: v.$color-text-hover;
	background-color: v.$color-bg-secondary;
	@include link-16-hover;
}

@media (min-width: 1200px) {
	.intro__back a:hover {
		@include link-20-hover;
	}
}

@media (min-width: 1600px) {
	.intro__back a:hover {
		@include link-24-hover;
	}
}

.intro__scroll {
	grid-column: 3 / 4;
	grid-row: 2;
	@include action-12;
}

.intro__scroll {
	grid-column: 3 / 4;
	grid-row: 2;
	@include action-12;
}

@media (min-width: 840px) {
	.intro__scroll {
		@include action-14;
	}
}

@media (min-width: 1200px) {
	.intro__scroll {
		@include action-16;
	}
}

.info {

	grid-column: 2 / 4;
	grid-row: 3;
	display: flex;
	flex-direction: column;
	row-gap: 4px;

}

.info span {
	@include subtitle-16
}

@media (min-width: 840px) {
	.info span {
		@include subtitle-18;
	}
}

@media (min-width: 1200px) {
	.info span {
		@include subtitle-20;
	}
}

.info p {
	@include body-14;
}

@media (min-width: 840px) {
	.info p {
		@include body-16;
	}
}

@media (min-width: 1200px) {
	.info p {
		@include body-18;
	}
}

.roles {
	grid-column: 2 / 4;
	grid-row: 3;
}

.intro__title {
	grid-column: 1 / 5;
	grid-row: 4;
	font-size: 16vw;
	will-change: color;
	line-height: 0.8;
}

.grid-1 {
	position: relative;
	display: grid;
	line-height: 1;
	width: 100dvw;
	padding: 5dvh 0;
	grid-template-columns: 3dvh 1fr 3dvh;
	grid-template-rows: auto 1fr auto;
	grid-row-gap: 5dvh;
	align-items: center;
	grid-column-gap: 4dvw;
	will-change: transform;
}

.problem {
	grid-column: 2;
	grid-row: 1;
}

.grid-img {
	// height: 100%;
	background-size: cover;
	background-position: 50% 50%;
	pointer-events: none;
	will-change: transform;
	height: min-content;
	aspect-ratio: 17 / 22;
	z-index: 100;
}

.grid-1-img {
	grid-column: 2;
	grid-row: 2;
}

.solution {
	grid-column: 2;
	grid-row: 3;
}

.grid-2 {
	position: relative;
	display: grid;
	line-height: 1;
	width: 100dvw;
	padding: 5dvh 0 10dvh 0;
	grid-template-columns: 3dvh 1fr 3dvh;
	grid-template-rows: repeat(9, auto);
	grid-row-gap: 5dvh;
	align-items: center;
	grid-column-gap: 4dvw;
	will-change: transform;
}

.grid-2-img:nth-child(1) {
	grid-column: 2;
	grid-row: 1;
}

.solution-2 {
	grid-column: 2;
	grid-row: 2;
}

.grid-2-img:nth-child(2) {
	grid-column: 2;
	grid-row: 3;
}

.grid-2-img:nth-child(3) {
	grid-column: 2;
	grid-row: 4;
}

.solution-3 {
	grid-column: 2;
	grid-row: 5;
}

.grid-2-img:nth-child(4) {
	grid-column: 2;
	grid-row: 6;
}

.grid-2-img:nth-child(5) {
	grid-column: 2;
	grid-row: 7;
}

.timeframe {
	align-self: start;
	grid-column: 2;
	grid-row: 8;
}

.tools {
	align-self: start;
	grid-column: 2;
	grid-row: 9;
}

.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 5dvh 0;
}

.footer__back,
.footer__prev,
.footer__next {
	@include link-16;
	transition: all v.$transition;
}


@media (min-width: 1200px) {

	.footer__back,
	.footer__prev,
	.footer__next {
		@include link-16;
	}
}

@media (min-width: 1600px) {
	.intro__back a {
		@include link-24;
	}
}

.intro__back a:hover {
	padding: 0 8px;
	color: v.$color-text-hover;
	background-color: v.$color-bg-secondary;
	@include link-16-hover;
}

@media (min-width: 1200px) {
	.intro__back a:hover {
		@include link-20-hover;
	}
}

@media (min-width: 1600px) {
	.intro__back a:hover {
		@include link-24-hover;
	}
}

.video-section {
	height: 100dvh;
	width: auto;
	margin: 40px;
	display: flex;
}

@media (min-width: 1200px) {

	.project-detail {
		padding-top: 3rem;
	}

	.grid-intro {
		grid-template-columns: 20% 1fr 1fr;
		grid-template-rows: auto 1fr 1fr auto;
	}

	.grid-1 {
		grid-template-columns: 3dvh 1fr 1fr 3dvh 1fr 1fr 3dvh;
		grid-template-rows: auto auto auto;
	}

	.problem {
		grid-column: 3 / 6;
		grid-row: 1;
	}

	.grid-1-img {
		grid-column: 2 / 4;
		grid-row: 2;
	}

	.solution {
		grid-column: 5 / 7;
		grid-row: 2;
	}

	.grid-2 {
		grid-template-columns: 3dvh 1fr 1fr 1fr 3dvh;
		grid-template-rows: auto auto auto auto;
	}

	.solution-2 {
		grid-column: 3 / 5;
		grid-row: 2;
	}

	.grid-2-img:nth-child(2) {
		grid-column: 3;
		grid-row: 1;
	}

	.grid-2-img:nth-child(3) {
		grid-column: 4;
		grid-row: 1;
	}

	.solution-3 {
		grid-column: 4;
		grid-row: 3;
	}

	.grid-2-img:nth-child(4) {
		grid-column: 2;
		grid-row: 3;
	}

	.grid-2-img:nth-child(5) {
		grid-column: 3;
		grid-row: 3;
	}

	.timeframe {
		grid-column: 2;
		grid-row: 4;
	}

	.tools {
		grid-column: 3;
		grid-row: 4;
	}

}