$color-yellow: #FF9624;
$color-yellow-light: #FFC14F;

$color-blue: #2E70BF;
$color-blue-light: #27A4D6;

$color-red: #E40909;
$color-red-dark: #FF2A2A;


$color-text: #373d56;
$color-text-hover: #1E2234;

$color-bg: #F8F8F8;
$color-bg-secondary: #DDDDDD;
$color-bg-tertiary: #919191;

$font-family-primary: "Karla", sans-serif;
$font-family-secondary: "Poppins", sans-serif;

$transition: 0.3s ease;

@mixin flex-center($justify: center, $align: center, $direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}